* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    max-width: 1200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 16px;
    text-align: justify;
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
}

.hobbies h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.hobbies h3 {
    font-size: 19px;
    margin-bottom: 20px;
}

.hobby-slider {
    position: relative;
    width: 100%;
}

.hobby-slide {
    display: none;
}

.hobby-slide.active {
    display: block;
}

.hobby-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.hobby-images div {
    text-align: center;
}

.hobby-images img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.hobby-images p {
    margin-top: 5px;
    font-size: 14px;
    color: #444;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-buttons button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.slider-buttons button:hover {
    background-color: #555;
}

.left-panel {
    width: 40%;
    background: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    position: relative;
}

.right-panel {
    width: 60%;
    padding: 50px;
    overflow: auto;
}

.hobby-study {
    margin-top: 20px;
    text-align: center;
}

.hobby-study h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

#gpaChart {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
}

.separator {
    width: 80%;
    height: 2px;
    background-color: #000000;
    margin: 30px auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .left-panel {
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 30px;
    }

    .right-panel {
        width: 100%;
        padding: 30px;
    }
}